.films__header{
    background-color: $white;
    border-bottom: solid $light-grey 1px;
    box-shadow: 0 0 0 1px $light-grey-shadow;
    position: sticky;
    top: 0;
    z-index: 999;
    .films__header-sub{        
        max-width: 1600px;
        margin: auto;

        .films__sub-container{
            display: flex;
            flex-flow: row wrap;
            .films__logo{
                flex-grow: 2;
            }

            .films_categories{
                flex-grow: 2;
            }

            .films__logo{
                padding: 20px 0;
                img{
                    outline: none;
                }
            }
            
            .films_categories{
                >nav{
                    align-items: center;
                    display: flex;
                    flex-flow: row nowrap;
                    height: 100%;
                    >ul{
                        padding-inline-start: 0;
                        height: 100%;
                        margin-block-start: 0;
                        margin-block-end: 0;
                    }
                    .films_search-films{
                        flex-grow: 1;
                        .films__form-search{
                            input{
                                border: 1px solid $light-grey-shadow;
                                border-radius: 4px;
                                font-size: 1rem;
                                font-family: $OpenSansRegular;
                                float: right;
                                height: 35px;
                                line-height: 2;
                                padding: 5px 15px;
                                width: 300px;
                                &:focus{
                                    outline: none;
                                }
                            }
                        }
                    }
                    .films__ul-header{
                        align-items: center;
                        display: flex;
                        flex-grow: 2;
                        list-style: none;
                        > li{
                            text-align: end;
                            width: calc(100% / 3);
                            >a{
                                color:$title;
                                font-family: $OpenSansBold;
                                font-size: 1rem;
                                font-weight: 600;
                                text-decoration: none;
                            }
                        }
                    }
                }
            }

        }
    
    }

}

/** Carousel **/
.carousel__images-body{
    .text-bottom{
        .title{
            font-family: $OpenSansSemi;
            font-size: 1.2rem;
        }
        .description-movie{
            span{
                font-family: $OpenSansRegular;
                font-size: .95rem;
            }
        }
        .watch-movie-or-trailer{
            font-family: $OpenSansRegular;
        }
    }
}

/** Destacados **/
.gondolas__section-gondolas{
    .gondolas__container-gondolas{
        .box{
            .title{
                font-family: $OpenSansBold;
            }
            .content-img{
                .title-movie{
                    font-family: $OpenSansBold;
                }
            }
        }
    }
}
    