@font-face {
  font-family: 'OpenSansBold';
  src: url('./fonts/OpenSans-Bold.ttf') format('truetype');
  
  /* Safari, Android, iOS */
}
@font-face {
  font-family: 'OpenSansSemi';
  src: url('./fonts/OpenSans-SemiBold.ttf') format('truetype');
  
  /* Safari, Android, iOS */
}
@font-face {
  font-family: 'OpenSansRegular';
  src: url('./fonts/OpenSans-Regular.ttf') format('truetype');
  
  /* Safari, Android, iOS */
}