/** Light Mode **/

.light-mode{
    transition: color .5s ease;
    /** NavBar **/
    .films__header{
        @include bgColor($white);
        border-bottom: solid $light-grey 1px;
        box-shadow: 0 0 0 1px $light-grey-shadow;
        .films__ul-header{
            > li{
                >a{
                    color:$title;
                }
            }
        }
        /** Input search **/
        .films_search-films{
            .films__form-search{
                input{
                    border: 1px solid $light-grey-shadow;
                }
            }
        }
    }

    /** Dark mode **/
    .dark-mode-content{
        .caja-1,.caja-2{
            color: $title;
        }
    }

    /** Gondolas **/
    .gondolas__section-gondolas{
        .gondolas__container-gondolas{
            .box{
                color: $title;
                .title{
                    &::before{
                        border-left: solid $title 10px;
                    }
                }
                .see-more{
                    .see-more-click{
                        a{
                            color: $title;
                        }
                    }
                }
            }
        }
    }
    /** Dropdown **/
    .dropdown__user-dropdown{
        .auth__dropdown-box{
            .auth__dropdown-container-login, .auth__dropdown-account{
                &::before{
                    border-bottom: 8px solid $title ;
                }
            }
        }
    }
}

/** Dark Mode **/
.dark-mode-enabled{
    @include bgColor(#101113);
    color: $colorDark;
    @extend .transition-5s;
    /** NavBar **/
    .films__header{
        @include bgColor($darModeEnabled);
        border-bottom: solid $darModeEnabled 1px;
        .films__ul-header{
            > li{
                >a{
                    color:$colorDark;
                }
            }
        }
        /** Input search **/
        .films_search-films{
            .films__form-search{
                input{
                    @include bgColor($bgDarkMode);
                    border: 1px solid $bgDarkMode;
                    @extend .transition-5s;
                    color: $white;
                    &::placeholder{
                        color: $colorDark;
                    }
                }
            }
        }
    }
    /** Dark mode **/
    .dark-mode-content{
        .caja-1,.caja-2{
            color: $colorDark;
        }
    }
    /** Gondolas **/
    .gondolas__section-gondolas{
        .gondolas__container-gondolas{
            .box{
                .title{
                    &::before{
                        border-left: solid $colorDark 10px;
                    }
                }
                .see-more{
                    .see-more-click{
                        a{
                            color: $white;
                        }
                    }
                }
            }
        }
    }
    /** Dropdown **/
    .dropdown__user-dropdown{
        .auth__dropdown-box{
            @include bgColor($colorDark);
            .auth__dropdown-container-login, .auth__dropdown-account{
                &::before{
                    border-bottom: 8px solid $colorDark ;
                }
            }
            form{
                label{
                    color: $title;
                }
                input{
                    @include bgColor($colorDark);
                }
            }
        }
    }
}