
/** Light Mode **/

.light-mode{
    /** NavBar **/
    .films__header{
        background-color: $white;
        border-bottom: solid $light-grey 1px;
        box-shadow: 0 0 0 1px $light-grey-shadow;
        .films__ul-header{
            > li{
                >a{
                    color:$title;
                }
            }
        }
        /** Input search **/
        .films_search-films{
            .films__form-search{
                input{
                    border: 1px solid $light-grey-shadow;
                }
            }
        }
    }
}

/** Dark Mode **/
.dark-mode-enabled{
    /** NavBar **/
    .films__header{
        background-color: $darModeEnabled;
        border-bottom: solid $darModeEnabled 1px;
        .films__ul-header{
            > li{
                >a{
                    color:$white;
                }
            }
        }
        /** Input search **/
        .films_search-films{
            .films__form-search{
                input{
                    background-color: $bgDarkMode;
                    border: 1px solid $bgDarkMode;
                    transition: background-color .5s ease;
                    color: $white;
                    &::placeholder{
                        color: $white;
                    }
                }
            }
        }
    }
}