.gondolas__section-gondolas{
    .gondolas__container-gondolas{
        max-width: 1600px;
        margin: 0 auto;
        padding: 30px 0 0 0;
        .box{
            .title{
                display: flex;
                flex-direction: row;
                font-size: 1.4rem;
                position: relative;
                &::before{
                    content: "";
                    display: block;
                    border-top: solid transparent 10px;
                    border-bottom: solid transparent 10px;
                    border-right: solid transparent 10px;
                    font-weight: bold;
                    position: absolute;
                    top: 6px;
                    height: 20px;
                    width: 20px;
                }
                span{
                    padding-left: 15px;
                }
            }
            .see-more{
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                .see-more-click{
                    .text-left{
                        align-items: center;
                        display: flex;
                        height: 100%;
                        justify-content: flex-end;
                        a{
                            text-decoration: none;
                        }
                    }
                }
            }
            .rec-carousel{
                position: relative;
                &>button{
                    align-items: center;
                    @include bgColor( rgba(255, 255, 255, .8));
                    border-color: transparent;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    position: absolute;
                    padding: 0;
                    outline: 0;
                    z-index: 1;
                    height: 45px;
                    min-width: 45px;
                    width: 45px;
                    top: 42%;
                    &:focus:enabled, &:hover:enabled{
                        color: $black;
                    }
                    &:hover:enabled{
                        background-color: darken($color:rgba(255, 255, 255, .8), $amount: 10);
                    }
                    &:disabled{
                        cursor: not-allowed;
                    }
                    span{
                        align-items: center;
                        display: flex;
                        font-size: 30px;
                        height: 100%;
                        font-family: initial;
                        img{
                            width: 20px;
                        }
                    }
                }
                &>button:first-child{
                    left: 10px;
                    right: auto;
                }
                &>button:last-child{
                    left: auto;
                    right: 10px;
                }
                >div{
                    margin: 0;
                }
            }
            .content-img{
                transform: scale(.99);
                .info-box{
                    position: relative;
                    .info-movie{
                        box-shadow: 0px 0px 2px 1px #1c1e21;
                        border-radius: 4px;
                        height: auto;
                        left: 50%;
                        opacity: 0;
                        position: absolute;
                        transition: width, opacity, background-color,transform 1s ease-in-out;
                        -webkit-transition: width, opacity, background-color,transform 1s ease-in-out;
                        width: 0;
                        z-index: 1;
                    }
                    &:hover >.info-movie{
                        opacity: 1;
                        margin: 0 auto;
                        transition-delay: 1s;
                        -webkit-transition-delay: 1s;
                        width: 90%;
                    }
                }
                img{
                    border-radius: 4px;
                    transform: scale(.9);
                }
                >a{
                    text: {
                        decoration: none;
                    }
                    color: $title;
                    cursor: pointer;
                }
                .title-movie{
                    font-size: .84rem;
                    text-align: center;
                    cursor: pointer;
                }
            }
            .info-top{
                .info-movie{
                    transform: translate(-50%, 21px);
                    -webkit-transform: translate(-50%, 21px);
                }
            }
            .info-bottom{
                .info-movie{
                    bottom: 23px;
                    transform: translate(-50%, 0%);
                    top: auto;
                    -webkit-transform: translate(-50%, 0%);
                }
            }
            .content-img:not(:last-child){
                padding: 0 10px 0 0;
            }
        }
        .info-movie{
            @include bgColor(rgba(0,0,0,.9));
            color: $white;
            padding: 10px;
            .description{
                font-size: .9rem;
                margin-bottom: 10px;
            }
            .see{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
                >div{
                    width: calc( 100% / 2 - 10px );
                    button{
                        border-radius: 4px;
                        border: none;
                        height: 28px;
                        outline: 0;
                        width: 100%;
                    }
                }
                .see-movie{
                    @include bgColor(#0062cc);
                    color: $white;
                }
                .see-trailer{
                    @include bgColor(#4d4d4d);
                    color: $white;
                    svg{
                        font-size: 1.1rem;
                    }
                }
            }
        }
    }
}
    